<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  
    <div id="welcome" class="container-fluid">
      
        <div class="collapse bg-info" id="navbarToggleExternalContent">
          
            <div class="bg-info p-4 ">
              <h5 class="text-white h4"><navregi></navregi></h5>
              
              <h5 class="text-white h4"><navini></navini></h5>
              <h5 class="text-white h4"><button type="button" class="btn btn-primary" routerLink="MiAgenda">Mi Agenda</button></h5>
              <h5 class="text-white h4"><button type="button" class="btn btn-primary" routerLink="">Inicio</button></h5>
              <div>
                
            </div>
            </div>
            
            
          </div>
          
          <nav class="navbar navbar-dark bg-info">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
          </nav>
    </div>
    <router-outlet></router-outlet>

    
  
  
  
</body>
</html>

