<div>
    <div>
        <input type="text" placeholder="ingresar ciudad"  [(ngModel)]="city">
        <button (click)="buscarcity()" >Restaurantes</button>
        </div>
        <div>
            <ul>
                <li><a id="boton"></a></li>
                <li><a id="boton2"></a></li>
            </ul>
    </div>
    <div>
        <input type="text" placeholder="ingresar ciudad"  [(ngModel)]="cityh">
        <button (click)="buscarhotel()" >Hoteles</button>
        </div>
        <div>
            <ul>
                <li><a id="hotel"></a></li>
                <li><a id="hotel2"></a></li>
                <li><a id="hotel3"></a></li>
            </ul>    
    </div>
</div>