<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>
      <h1 id="nombre">Bienvenido a <span style="color: #1B69FF;">{{nombre}}</span>, tu compañero ideal para explorar el mundo</h1>
      <div id="description">
          <h3>Organiza tu proximo viaje </h3>
      </div>
     
    </div>
  </body>
    
</html>